OPENAI_API_KEY=your_api_key_here
GEMINI_API_KEY= your_secret_key_here
MODEL_NAME=gemini-2.0-flash
# LLM_PROVIDER=gemini

GROQ_API_KEY= your_secret_key_here
GROQ_MODEL=llama-3.3-70b-versatile

LLM_PROVIDER=router

DATABASE_URL=database_url_here

SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60